//variable
    $color_blue: #267df4;
    $color_grey: #f4f4f5;
    $color_green: #6fc754;
    $color_black: #26272d;
    $color_text_grey: #8c8f94;
    $color_border: rgb(38, 39, 45);


//mixins
    @mixin font-varela() {
        font-family: 'Varela Round', 'Open Sans', sans-serif;}
    @mixin font-late() {
        font-family: 'Lato', 'Open Sans', sans-serif;
    }

   
//globals
    * {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        outline: none;
    }    
    html{
        overflow-x: hidden;
    }
    body{
        width: 100vw;
        @include font-late();
        font-size: 18px;
        color: $color_text_grey;
    }
    h1{ 
        margin: 0;
        padding: 0px;
        @include font-varela();
        font-size: 62px;
        line-height: 72px;    
        font-weight: normal;
        color: $color_black;
        text-transform: capitalize;          
    }
    h2{
        margin-bottom: 64px;
        @include font-varela();
        font-size: 52px;
        line-height: 52px;
        font-weight: 400;
        color: $color_black;
        text-transform: lowercase;
        &::first-letter{
            text-transform: uppercase;
        }
    }
    h3{
        font-size:26px;
        font-weight: 300;
        color: $color_text_grey;
        text-transform: capitalize;
    }
    a {
        text-decoration: none;
        color: $color_black;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
        list-style: none;
        }
    }
    .container{
        width: 1169px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .hiden{
        display: none !important;
    }
 //Buttons and input form
        .button{
            display: inline-block;
            border-radius: 30px;
            padding: 10px;
            background-color: $color_blue;
            color: white;
        }
        .button-active{
            background-color: transparent;
            color: $color_blue;
            border: 2px solid $color_blue;
        }
        .downloadbtn{
            position: relative;
            display: inline-block;
            font-size: 12px;
            padding: 10px;
            padding-left: 55px;
            padding-right: 25px;
            border-radius: 30px;
            background-color: black;
            color: white;
            b{
                font-size: 22px;
            }
            i{                
                position: absolute;
                font-size: 27px;
                left: 12%;
                top: 50%;
                margin-top: -14px;
            }
        }
        .subscribe-form form{
            width: 500px;
            margin: 0 auto;
            border-radius: 30px;
            border: 1px solid grey; 
            padding: 2px;
            input[type="email"]{
                width: 50%;
                font-size: 20px;
                line-height: 2.7rem;
                border: none;
                background-color: transparent;
            }
            button{
                float: right;
                width: 150px;
                padding-right: 10px;
                background-color: $color_green;
                color: white;
                border: none;
                line-height: 25px;
                &:hover{
                    cursor: pointer;
                }
                i{
                    margin-left: 15px;
                    font-size: 13px;
                    font-weight: bold;
                }                
            }
        }


//animations
    @-webkit-keyframes togglelbtn{
        0%{
            -webkit-transform: translateX(-100px);
                    transform: translateX(-100px);
        }
        100%{
            -webkit-transform: translateX(0px);
                    transform: translateX(0px);
        }
    }
    @keyframes togglelbtn{
        0%{
            -webkit-transform: translateX(-100px);
                    transform: translateX(-100px);
        }
        100%{
            -webkit-transform: translateX(0px);
                    transform: translateX(0px);
        }
    }
    @-webkit-keyframes togglerbtn{
        0%{
            -webkit-transform: translateX(100px);
                    transform: translateX(100px);
        }
        100%{
            -webkit-transform: translateX(0px);
                    transform: translateX(0px);
        }
    }
    @keyframes togglerbtn{
        0%{
            -webkit-transform: translateX(100px);
                    transform: translateX(100px);
        }
        100%{
            -webkit-transform: translateX(0px);
                    transform: translateX(0px);
        }
    }
    @-webkit-keyframes ltr{
        0%{
            -webkit-transform: translateX(-500px);
                    transform: translateX(-500px);
            opacity: 0.5;
        }
        100%{
            -webkit-transform: none;
                    transform: none;
            opacity: 1;
        }
    }
    @keyframes ltr{
        0%{
            -webkit-transform: translateX(-500px);
                    transform: translateX(-500px);
            opacity: 0.5;
        }
        100%{
            -webkit-transform: none;
                    transform: none;
            opacity: 1;
        }
    }
    @-webkit-keyframes rtl{
        0%{
            -webkit-transform: translateX(500px);
                    transform: translateX(500px);
            opacity: 0.5;
        }
        100%{
            -webkit-transform: none;
                    transform: none;
            opacity: 1;
        }
    }
    @keyframes rtl{
        0%{
            -webkit-transform: translateX(500px);
                    transform: translateX(500px);
            opacity: 0.5;
        }
        100%{
            -webkit-transform: none;
                    transform: none;
            opacity: 1;
        }
    }
    @-webkit-keyframes totop{
        0%{
            -webkit-transform: translateY(100px);
                    transform: translateY(100px);
            opacity: 0;
        }
        100%{
            -webkit-transform: translateY(0px);
                    transform: translateY(0px);
            opacity: 1;
        }
    }
    @keyframes totop{
        0%{
            -webkit-transform: translateY(100px);
                    transform: translateY(100px);
            opacity: 0;
        }
        100%{
            -webkit-transform: translateY(0px);
                    transform: translateY(0px);
            opacity: 1;
        }
    }
//lets go
.header{    
    width: 100%;    
    height: 90px;
    position: fixed;
    z-index: 10;
    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__nav{        
        width: 20%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    &__right{
        width: 20%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        a:last-of-type{
            min-width: 130px;
            margin-right: 1%;
            padding: 12px 15px;
            color: white !important;
            &:hover{
                color: white;
            }
        }
    }
    &__logo{
        display: inline-block;
        padding: 0 7%;
    }
    a{
        margin: 3%;
        font-size: 16px;
        text-transform: capitalize;
        color: $color_black;
        &:hover{
            color: $color_blue;
        }
    }
    &__active{
        background-color: $color_grey;
        -webkit-box-shadow: 1px 0 5px 0px $color_black;
                box-shadow: 1px 0 5px 0px $color_black;
        opacity: 0.9;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
    }
}


.welcome{
    position: relative;
    width: 100vw;
    min-height: 1000px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0.6))),
                url(../img/bghils.jpg);
    background: linear-gradient(rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.6) 100%),
                url(../img/bghils.jpg);        
    background-position: center;
    background-size: cover;

    a{  
        position: relative;
        background-color: transparent;
        color: black;
        border: 1px solid transparentize($color_border, 0.8);
        padding: 12px 30px;
        -webkit-animation-name: totop;
                animation-name: totop;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-delay: 500ms;
                animation-delay: 500ms;
    }

    &__text{
        width: 800px;
        height: 600px;
        margin: 0 auto;
        padding-top: 200px;
        text-align: center;
        -webkit-animation-name: totop;
                animation-name: totop;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-delay: 500ms;
                animation-delay: 500ms;
        p{  
            padding-top: 40px;
            padding-bottom: 65px;
        }
    }
    &__phone{
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 370px;
        height:200px;
        margin-left: -165px;
        background: url(../img/iphone.png) no-repeat;
        
        -webkit-transition: height 0.5s;
        
        transition: height 0.5s;
        &:hover{
            height: 450px;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }
    }
}

.modal__leftmenu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    top: 0;
    z-index: 10;
    background-color: darken($color_grey, 80%);
    position: fixed;
    height: 100vh;
    width: 20vw;
    color: white;
    padding-top: 50px; 
    padding-left: 2vw;
    padding-bottom: 25px;
    img{
        -webkit-filter:brightness(100);
                filter:brightness(100);
        padding-bottom: 40px;
    }
    &__close{
        position: absolute;
        right: 20px;
        top: 40px;
        font-size: 14px;
        i{            
            -webkit-transform: rotate(1deg);            
                    transform: rotate(1deg);
        }
    }
    a{      
        &:hover{
        color: $color_blue;
        }
        color: white;
        padding-bottom: 10px;
        text-transform: capitalize;
    }
    &__getapp{
        margin-top: 20px;
        width: 110px;
        text-transform: capitalize;
        &:hover {
            color: white!important;
        }
    }

    &__bottom{
        margin-top: auto;
        font-size: 14px;
        color: $color_text_grey;
        width: 60%;
        p a{
            color: $color_blue;
            text-decoration: underline;
        }
        ul{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            padding-top: 10px;
            li{
                font-size: 15px;
                opacity: 0.8;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}
.modal__video{
    &__overlay{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100vw;
        height: 100vh;
        z-index: 10;
        background-color: rgba(255,255,255,0.8);
    }

    &__content{
        background-color: $color_grey;
        position: fixed;
        z-index: 20;
        top: 30%;
        width: 50vw;
        left: 50vw;
        margin-left: -25vw;
        height: auto;
        -webkit-filter: drop-shadow(0 0 15px black);
                filter: drop-shadow(0 0 15px black);
        
        a{  position: absolute;
            top: -40px;
            color: black;
            right: 10px;
            width: 20px;
            -webkit-transform: rotate(1deg);
                    transform: rotate(1deg);
        }
    }
}

.slogans{
    .container{
    padding-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    &__block{
        -webkit-animation-name: totop;
                animation-name: totop;
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-delay: 1000ms;
                animation-delay: 1000ms;
        width: 35%;
        &:first-child{
            margin-right: 100px;
        }
        & img{
            padding-bottom: 40px;
        }
        & h3{
            color: $color_black;
            padding-bottom: 30px;
        }
        & p{
            padding-bottom: 30px;
        }
        padding-bottom: 200px;
    }
}

.protected{
    .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    &__phone{
        margin-left: -400px;

        img{
            -webkit-animation-name: ltr;
                    animation-name: ltr;
            -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
            }

    }
    &__textblock{
        width: 40%;
        -ms-flex-item-align: center;
            align-self: center;
        &__buttons{
            padding-top: 20px;
            a{
                margin-left:20px;
                padding: 12px 15px;
                &:first-of-type{
                    i{
                        margin-left: 50px;
                    }
                }
                &:last-of-type{
                    background-color: #fff;
                    border: 1px solid lighten($color_text_grey, 25%);
                    color: darken($color_text_grey, 30%);
                }
            }
        }
    }
}

.location{
    .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 150px; 
    padding-bottom: 100px;
    }
    &__textblock{
        min-width: 500px;
        -ms-flex-item-align: center;
            align-self: center;
        &__partners{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: 20px;
            a{
                margin-right: 20px;
            }
        }
    }
    &__mapblock{
        margin-left: 50px;
        img{
            -webkit-animation-name: rtl;
                    animation-name: rtl;
            -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
        }
    }

}

.interfaces{
    background-color: $color_grey;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 7%;
    span{
        text-transform: uppercase;
        margin-bottom: 150px;
    }

    h2:first-child{    
        position: relative;
        padding-bottom: 70px;
        &::after{
            position: absolute;
            top: 100px;
            left: 50%;
            margin-left: -25px;
            content: "";
            width: 50px;
            height: 3px;
            background-color: $color_blue;
            border-radius: 50px;


        }
    }
    &__phone-slider{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 150px;
        &__item{
            width: 320px;
            padding: 20px;
            -webkit-filter: drop-shadow(4px 4px 7px darken($color_grey, 20%));
                    filter: drop-shadow(4px 4px 7px darken($color_grey, 20%));
            &--middle{
                width: 395px;
            }
        }
    }
    &__bottom{
        margin-bottom: 100px;
        span{
            margin-bottom: 50px;
        }
        &__getapp {
            margin: 20px;
            
            a{
                background-color: black;
                color: white;
            }
        }
        

    }

}

.comments{
    .container{
    width: 750px;
    margin: 10% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    }
    &__text{
        text-align: center;
        padding-top: 200px;
        h3{
            font-size: 32px;
            font-weight: 300;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        span{
            text-transform: uppercase;
            font-size: 12px;
            line-height: 28px;
            font-weight: 700;
            color: darken($color_text_grey, 30%);

        }
        p{
            font-size: 18px;
            line-height: 28px;
        }
        &__stars{
            margin: 10px auto;
            width: 200px;
            height: 50px;
            margin-bottom: 35px;
            i{
                color:  #d2bc3b;
                font-size: 22px;
                letter-spacing: 2px;
                padding-top: 15px;
            }
            .bad-star{
                color: grey;  
            }
        }
    }
    .slick-arrow{
        font-size: 0;
        content: "";
        background: none;
        width: 17px;
        height: 17px;
        border: 6px solid darken($color_grey, 20%);        
        -webkit-transform: rotate(-45deg);        
                transform: rotate(-45deg);
        cursor: pointer;
        z-index: 1;
        &:hover{
            border-color: darken($color_grey, 50%);
        }     
    }
    .slick-prev{
        border-right: none;
        border-bottom: none;
        position: absolute;
        left: 50px;
        top: 80px;;
    }
    .slick-next{
        border-top: none;
        border-left: none;
        position: absolute;         
        right: 50px;
        top: 80px;    
    }
    .slick-dots{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: absolute;
        top: 0;
        width: 730px;
        margin: 0 auto;
        li {
            &:first-of-type button{
                background: url(../img/user1.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            &:nth-of-type(2) button{
                background: url(../img/user2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            &:last-of-type button{
                background: url(../img/user3.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        
            button{
                margin: 5%;
                border: none;
                border-radius: 50%;
                font-size: 0;
                width: 150px;
                height: 150px;
                overflow: hidden;
                opacity: 0.5;
                -webkit-transform: scale(0.6);
                        transform: scale(0.6);
                cursor: pointer;
                -webkit-transition-duration: 0.8s;
                        transition-duration: 0.8s;
            }
        }
        .slick-active button{
            -webkit-transform: none;
                    transform: none;
            opacity: 1;
            -webkit-filter: drop-shadow(1px 3px 3px rgba(0,0,0, 0.3));
                    filter: drop-shadow(1px 3px 3px rgba(0,0,0, 0.3));
            -webkit-transition-duration: 0.8s;
                    transition-duration: 0.8s;
        }



    }
}


.yourplan{
    .container{
    padding-bottom: 5%;
    padding-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }
    &__comerce{
        width: 30%;

        &__toggle__radiobutton{
            width: 200px;
            border: 1px solid darken($color_grey, 30%);
            margin: 0 auto;
            background-color: $color_grey;
            border-radius: 30px;
            padding: 1px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            input{
                display: none;
                &:checked + label{
                    background-color: white;
                    -webkit-filter: drop-shadow(0px 0px 2px $color_text_grey);
                            filter: drop-shadow(0px 0px 2px $color_text_grey);
                }
                &:last-of-type:checked + label{
                    -webkit-animation-name: togglelbtn;
                            animation-name: togglelbtn;
                    -webkit-animation-duration: 1s;
                            animation-duration: 1s;
                }
                &:first-of-type:checked + label{                    
                    -webkit-animation-name: togglerbtn;                    
                            animation-name: togglerbtn;
                    -webkit-animation-duration: 1s;
                            animation-duration: 1s;
                }
            }

            label{
                
                -webkit-user-select: none;
                
                   -moz-user-select: none;
                
                    -ms-user-select: none;
                
                        user-select: none;
                cursor: pointer;
                line-height: 20px;
                padding: 10px;
                color: black;
                border-radius: 30px;
                text-transform: capitalize;
            }
            

            
        }
        
            
    }
    
    &__plan{
        width: 65%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 50px;
        height: 600px;
        &__box{
            cursor: pointer;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 340px;
            height: 500px;
            padding: 50px;
            background-color: darken($color_grey, 3%);
            -ms-flex-pack: distribute;
                justify-content: space-around;            
            -webkit-transition: 200ms;            
            transition: 200ms;
            &__price{
                border: 1px solid darken($color_grey, 20%);
                padding: 10px 15px;
                border-radius: 30px;
                width: 70px;
                margin: 0 auto;
                text-transform: uppercase;
                color: black;
                font-size: 11px;
                font-weight: bold;
            }
            &-active{
                background-color: #fff;
                width: 360px;
                height: 550px;
                margin-top: -20px;
                -webkit-filter: drop-shadow(4px 4px 10px darken($color_grey, 20%));
                        filter: drop-shadow(4px 4px 10px darken($color_grey, 20%));
                -webkit-transition: 200ms;
                transition: 200ms;

            }
            &__privilege{
                span{
                    display: inline-block;
                    padding-left: 10px;
                    position: relative;
                    text-align: left;
                    margin-top: 20px;
                    font-size: 17px;
                    &::before{
                        position: absolute;
                        left: -5px;
                        top: 30%;
                        content:"";
                        display: block;
                        width: 8px;
                        height: 4px;
                        border: 3px solid $color_green;
                        border-top:none;
                        border-right: none;
                        -webkit-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                     
                    }

                }
            }
            a{
                -ms-flex-item-align: center;
                    align-self: center;

            }
        }
    }
    
}

.subscribe{
    text-align: center;
    padding: 100px 0;
}

.footer{

    .downloadbtn{
        border-radius: 7px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 10px;
    margin-bottom: 50px;
    }
    &__socials{
        width: 250px;
        margin-right: auto;
        ul{
            width: 90%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            padding-top: 30px;
            li{
                opacity: 0.5;
                &:hover{
                    opacity: 1;
                }
                
            }
        }
    }
    &__nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        &__item{
            ul{
                padding-top: 10px;
            }
            padding: 20px;
            &__title{
                font-weight: bold;
                color: black;
                text-transform: uppercase;
                
            }
            li{
                font-size: 15px;
                padding: 7px 0;
                text-transform: capitalize;
                :hover{
                    color: $color_blue;
                }

            }
           
        }
    }
    &__madeby{
        margin: 100px auto;
        margin-bottom: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 90%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        p{
            img{
                margin-bottom: -10px;
            }
        }

        
    }
}


              